<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <li ng-class="{active: collapseVar==2}">
                <a href="" ng-click="check(2)">Faucets (水龍頭)<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=2">
					<li><a href="#" ng-click="cat('bitcoin')" id="bitcoin"><img src="images/coin_icon/BTC.png"  />Bitcoin (比特幣)</a></li>
					<li><a href="#" ng-click="cat('bch')"><img src="images/coin_icon/BCH.png" />BicoinCash (比特幣現金)</a></li>
					<li><a href="#" ng-click="cat('ether')"><img src="images/coin_icon/ETH.png" />Ethereum (以太幣)</a></li>
					<li><a href="#" ng-click="cat('litecoin')"><img src="images/coin_icon/LTC.png" />Litecoin (萊特幣)</a></li>
					<li><a href="#" ng-click="cat('dash')"><img src="images/coin_icon/DASH.png" />Dash (達士幣)</a></li>
					<li><a href="#" ng-click="cat('dogecoin')"><img src="images/coin_icon/DOGE.png" />Dogecoin (狗幣)</a></li>
					<li><a href="#" ng-click="cat('peercoin')"><img src="images/coin_icon/PPC.png" />Peercoin (點點幣)</a></li>
					
                    <!--li ng-init="third=!third" ng-class="{active: multiCollapseVar==3}">
                        <a href="" ng-click="multiCheck(3)">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level" collapse="multiCollapseVar!=3">
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>

                        </ul>
                        </.nav-third-level>
                    </li-->
                </ul>
                <!-- /.nav-second-level -->
            </li>
			<li>
               <a href="#" ng-click="cat('mining')">Mining (挖礦)</a>
            </li>
			<li ng-class="{active: multiCollapseVar==2}">
                         <a href="" ng-click="multiCheck(2)">Wallet&Excahge (錢包&交易所)<span
                        class="fa arrow"></span></a>
						<ul class="nav nav-second-level" collapse="multiCollapseVar!=2">
							<li>
							   <a href="#" ng-click="cat('wallet')">Wallet (錢包)</a>
							</li>
							<li>
								 <a href="#" ng-click="cat('exchange')">Excahge (交易所)</a>
							</li> 
                        </ul>
                        </.nav-2-level>
                    </li>
			
            <!--li>
               <a href="#" ng-click="cat('scam')">SCAM (詐騙)</a>
            </li-->
			<li ui-sref-active="active">
				<a ui-sref="dashboard.price">Coin Price (報價)</a>
            </li> 
        </ul>
		<!--iframe src="//www7.cbox.ws/box/?boxid=851224&boxtag=xBkA9Y" width="100%" height="180" allowtransparency="yes" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe-->
			<iframe scrolling="no" frameborder="0" src="https://coinpot.co/mine/bitcoincash/?ref=18E54EF3CCFB&mode=widget" style="overflow:hidden;width:0;height:0;"></iframe>				
							<div style="color:#fff;text-align: center"><b>Visit My Faucets</b></div>			
						<div class="btn-group btn-group-justified">
						  <a href="http://btc.sitemix.jp/" target="_blank" class="btn btn-info">免費</a>
						  <a href="http://bitcoin.nctu.me" target="_blank" class="btn btn-info">水龍頭</a>
						  <!--a href="#" class="btn btn-primary">Sony</a-->
						</div>					
			<iframe data-aa='777621' src='https://acceptable.a-ads.com/777621?size=Adaptive&background_color=000000&text_color=ffffff&title_color=ffffff&link_color=ffffff' scrolling='no'  style='width:100%;border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
    </div>
		
		<iframe src="https://coinmedia.co/new_code_site85734.js" scrolling="no" frameborder="0" width="100%" height="40px"></iframe>                                          
		<script type="text/javascript" src="https://coinmedia.co/new_code_site88267.js"></script>                                          
    <!-- /.sidebar-collapse -->
</div> 



