<div class="col-lg-3 col-md-6" style="min-width:190px;"  >
    <div class="panel panel-{{colour}}" >
        <div class="panel-heading" ng-class="{'active': isActive}">
            <div class="row">	
			
			<a href="{{homepage}}" target="_blank"  ng-click="countdown(time)" data-toggle="tooltip" title="Go {{title}}">
				<div class="col-xs-3">
						<img src="https://raw.githubusercontent.com/earncoin/{{name}}/{{branch}}/icon.png"
					  style="width:80px; height:80px;" />					
				</div>
				
                <div class="col-xs-9 text-right description">
					<div ng-switch="cat">
						<div ng-switch-when="Bitcoin">
							<div>{{time}} mins</div>
							<div>{{reward}} Satoshis</div>
						</div>
						<div ng-switch-when="BCH">
							<div>{{time}} mins</div>
							<div>{{reward}} Satoshis</div>
						</div>
						<div ng-switch-when="Ether">
							<div>{{time}} mins</div>
							<div>{{reward}} Gweis</div>
						</div>
						<div ng-switch-when="Litecoin">
							<div>{{time}} mins</div>
							<div>{{reward}} Litoshis</div>
						</div>
					</div>	
                    {{description}}
                </div>			
			</a>
            </div>
        </div>
       
            <div class="panel-footer">
				
	
			<div ng-switch="cat">		
				<div ng-switch-when="Bitcoin">		
						<a href="#" ng-click="open(name,homepage)" data-toggle="tooltip" title="Get {{title}} Details">
							<span class="pull-left">
							<i class="fa fa-btc"></i>
						<b>{{title}}</b>
							</span>
						</a>
						<span class="pull-right">
							<u>{{counter}}</u>
						</span>
				 </div>
				
				<div ng-switch-when="Scam">
					<a href="#" ng-click="open(name,homepage)" data-toggle="tooltip" title="Get {{title}} Details">
						<span class="pull-left">						
						<i class="fa fa-times"></i>
						<del>{{title}}</del>
						</span>
					</a>
                </div>
				<div ng-switch-when="Wallet">
					<a href="#" ng-click="open(name,homepage)" data-toggle="tooltip" title="Get {{title}} Details">
						<span class="pull-left">					
						<i class="fa fa-link"></i>
						{{title}}
						</span>
					</a>
                </div>
				
				 <div ng-switch-default>		
						<a href="#" ng-click="open(name,homepage)" data-toggle="tooltip" title="Get {{title}} Details">
							<span class="pull-left">						
							<i class="fa fa-money"></i>
						<b>{{title}}</b>
							</span>
						</a>
						<span class="pull-right">
							<u>{{counter}}</u>
						</span>						
				 </div>
				 
			</div>
                <div class="clearfix"></div>
            </div>
       
    </div>
</div>
